<section class="content-header">
    <h1>
        Landing Pages
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Landing pages</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover table-responsive">
                            <tr>
                                <th style="width:20%">Background</th>
                                <th style="width: 10%">Tên trang</th>
                                <th>Nội dung</th>
                                <th style="width: 10%">Thao tác</th>
                            </tr>
                            <tr ng-repeat="item in landingPages">
                                <td><a ui-sref="landing_page_edit({id:item.ID})"><img src="{{item.Image}}" style="width:100%" /></a></td>
                                <td><a ui-sref="landing_page_edit({id:item.ID})">{{item.Name}}</a></td>
                                <td>{{item.Content}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" ui-sref="landing_page_edit({id:item.ID})"><i class="fa fa-pencil-square-o"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->

                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-6 pull-left"><pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getLandingPages(page)"></pager-directive></div>
                        <div class="col-md-6 pull-right"><span class="pull-right">Có <span style="color:#dd4b39">{{totalCount}}</span> kết quả được tìm thấy.</span></div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!-- /.box -->
</section>