<section class="content-header">
    <h1>
        Chỉnh sửa loại nhiên liệu: <span style="color:red">{{fuels.Name}}</span>
        <small>Chỉnh sửa thông tin</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="posts"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="cars">Xe</a></li>
        <li><a ui-sref="fuels">Năm sản xuất</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Chỉnh sửa thông tin</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" novalidate name="frmEditFuel" role="form" ng-submit="UpdateFuel()">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tên nhiên liệu</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Tên nhiên liệu" name="name" ng-model="fuels.Name" required ng-maxlength="256" ng-change="GetSeoTitle()">
                            <span ng-show="frmEditFuel.name.$invalid" class="has-error">*Bắt buộc</span>
                            <span ng-show="frmEditFuel.name.$error.maxlength" class="has-error">Tối đa 256 ký tự</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tiêu đề SEO</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Tiêu đề SEO" name="alias" ng-model="fuels.Alias" required>
                            <span ng-show="frmEditFuel.alias.$invalid" class="has-error">*Bắt buộc</span>
                            <span ng-show="frmEditFuel.alias.$error.maxlength" class="has-error">Tối đa 256 ký tự</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Mô tả ngắn</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" placeholder="Mô tả ngắn" name="description" ng-maxlength="256" ng-model="fuels.Description"></textarea>
                            <span ng-show="frmEditFuel.description.$error.maxlength" class="has-error">Tối đa 256 ký tự</span>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="button" class="btn btn-default" ui-sref="fuels"><i class="fa fa-undo"></i> Hủy</button>
                    <button type="submit" class="btn btn-success pull-right" ng-disabled="frmEditFuel.$invalid"><i class="fa fa-save"></i> Lưu</button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
        <!-- /.box -->
    </div>
</section>