@model CarDealer.Web.Models.FooterViewModel

<footer class="section novi-background bg-cover">

    <div class="container">
        <div class="row-flex">
            @Html.Raw(Model.Content)
        </div>
    </div>
</footer>
