<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="18"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="mr.pdkhoa@gmail.com"/>
  <add key="FromEmailPassword" value="ayltsnarkKHOA159DANG596"/>
  <add key="FromName" value="[phamtan-mercedes.com]"/>
  <add key="AdminEmail" value="hoclaptrinhgiare@gmail.com"/>
</appSettings>