@model CarDealer.Web.Models.PageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<div class="section">
    <div class="breadcrumbs1_wrapper novi-background">
        <div class="container">
            @if (Model != null)
            {
                <div class="breadcrumbs1"><a href="/">Trang chủ</a><span></span>@Model.Name</div>
            }
            else
            {
                <div class="breadcrumbs1"><a href="/">Trang chủ</a><span></span>Lỗi 404</div>
            }

        </div>
    </div>
    <div class="section-md-bottom content novi-background bg-cover">
        <div class="container">
            <div class="row row-fix">
                @if (Model != null)
                {
                    <div class="col-sm-12 col-md-9  column-content">
                        <div class="title2" style="text-align:center">@Model.Name</div>
                        <p style="text-align:justify">@Html.Raw(Model.Content)</p>
                    </div>
                }
                else
                {
                    <div class="col-sm-12 col-md-9  column-content">
                        <div class="title2" style="text-align:center">Lỗi 404</div>
                        <p style="text-align:justify">Trang này chưa có dữ liệu</p>
                    </div>
                }

                <div class="col-sm-12 col-md-3  column-sidebar">
                    <div class="row">
                        @{ Html.RenderAction("CarSearchForPartialView", "Car");}
                        @{ Html.RenderAction("LatestPosts", "Post");}
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>