    <!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="htttp://www.phamtan-mercedes.com" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>MB</b>z</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Mercedes-Benz</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->

                    <!-- Notifications: style can be found in dropdown.less -->

                    <!-- Tasks: style can be found in dropdown.less -->

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" ng-click="ChooseImage()">
                            <i class="fa fa-picture-o"></i>
                            <span class="hidden-xs">Upload hình lên server</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="/Assets/admin/img/logoMer.png" class="img-circle" alt="User Image">
                                <p>
                                    {{authentication.userName}}
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="javascript:void(0);" class="btn btn-default btn-flat" ng-click="logOut()">Thoát</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown user user-menu">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" ng-click="logOut()">
                            <img src="/Assets/admin/img/logoMer.png" class="user-image" alt="User Image">
                            <span class="hidden-xs">Thoát</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="/Assets/admin/img/logoMer.png" class="img-circle" alt="User Image">
                                <p>
                                    {{authentication.userName}}
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="javascript:void(0);" class="btn btn-default btn-flat" ng-click="logOut()">Thoát</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                </ul>
            </div>
        </nav>
    </header>
    <!-- =============================================== -->
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar" ng-include="sideBar">
        <!-- sidebar: style can be found in sidebar.less -->
        
        <!-- /.sidebar -->
    </aside>
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- uiView: --><div ui-view></div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Phiên bản</b> 2.4.0
        </div>
        <strong>DangKhoa-CMS. Copyright &copy; 2014-2018 by <a href="#">Dang Khoa Pham - 0963 477 399</a></strong>. All rights
        reserved.
    </footer>
    <!-- Control Sidebar -->
    
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!--<script src="../../../Assets/admin/js/adminlte.min.js"></script>-->
<script src="../../../Assets/admin/js/app.js"></script>

